## Миграция данных о метро и запросы к БД: SQLite, JSON и Python

In [1]:
import sqlite3
from prettytable import from_db_cursor

In [2]:
db_name = 'mosmetro.db'

In [3]:
db = sqlite3.connect(db_name)
cur = db.cursor()

In [4]:
cur.execute('CREATE TABLE line (id integer PRIMARY KEY AUTOINCREMENT NOT NULL, name varchar(100) NOT NULL)')
db.commit()

In [5]:
cur.execute('CREATE TABLE area (id integer PRIMARY KEY AUTOINCREMENT NOT NULL, name varchar(100) NOT NULL)')
db.commit()

In [6]:
cur.execute('CREATE TABLE station (id integer PRIMARY KEY AUTOINCREMENT NOT NULL, name varchar(100) NOT NULL, id_line integer, id_area integer,'\
             'FOREIGN KEY (id_line) REFERENCES line (id), FOREIGN KEY (id_area) REFERENCES area (id))')
db.commit()

In [7]:
cur.execute("PRAGMA table_info('station')")
from_db_cursor(cur)

+-----+---------+--------------+---------+------------+----+
| cid |   name  |     type     | notnull | dflt_value | pk |
+-----+---------+--------------+---------+------------+----+
|  0  |    id   |   INTEGER    |    1    |    None    | 1  |
|  1  |   name  | varchar(100) |    1    |    None    | 0  |
|  2  | id_line |   INTEGER    |    0    |    None    | 0  |
|  3  | id_area |   INTEGER    |    0    |    None    | 0  |
+-----+---------+--------------+---------+------------+----+

In [8]:
cur.execute("PRAGMA table_info('line')")
from_db_cursor(cur)

+-----+------+--------------+---------+------------+----+
| cid | name |     type     | notnull | dflt_value | pk |
+-----+------+--------------+---------+------------+----+
|  0  |  id  |   INTEGER    |    1    |    None    | 1  |
|  1  | name | varchar(100) |    1    |    None    | 0  |
+-----+------+--------------+---------+------------+----+

In [9]:
cur.execute("PRAGMA table_info('area')")
from_db_cursor(cur)

+-----+------+--------------+---------+------------+----+
| cid | name |     type     | notnull | dflt_value | pk |
+-----+------+--------------+---------+------------+----+
|  0  |  id  |   INTEGER    |    1    |    None    | 1  |
|  1  | name | varchar(100) |    1    |    None    | 0  |
+-----+------+--------------+---------+------------+----+

In [10]:
import json

file_mosmetro_json = 'mosmetro.json'

with open(file_mosmetro_json) as f:
    d = json.load(f)

In [11]:
lines = []
for line in d:
    lines.append(line['Line'])
lines = list(set(lines))
lines

['Калининская линия',
 'Бутовская линия Лёгкого метро',
 'Кольцевая линия',
 'Замоскворецкая линия',
 'Некрасовская линия',
 'Арбатско-Покровская линия',
 'Люблинско-Дмитровская линия',
 'Таганско-Краснопресненская линия',
 'Калужско-Рижская линия',
 'Московская монорельсовая транспортная система',
 'Большая кольцевая линия',
 'Солнцевская линия',
 'Серпуховско-Тимирязевская линия',
 'Филёвская линия',
 'Московское центральное кольцо',
 'Сокольническая линия']

In [12]:
lines_data = [(line,) for line in lines]
lines_data

[('Калининская линия',),
 ('Бутовская линия Лёгкого метро',),
 ('Кольцевая линия',),
 ('Замоскворецкая линия',),
 ('Некрасовская линия',),
 ('Арбатско-Покровская линия',),
 ('Люблинско-Дмитровская линия',),
 ('Таганско-Краснопресненская линия',),
 ('Калужско-Рижская линия',),
 ('Московская монорельсовая транспортная система',),
 ('Большая кольцевая линия',),
 ('Солнцевская линия',),
 ('Серпуховско-Тимирязевская линия',),
 ('Филёвская линия',),
 ('Московское центральное кольцо',),
 ('Сокольническая линия',)]

In [13]:
cur.executemany("INSERT INTO line(name) VALUES(?)", lines_data)

In [14]:
cur.execute('SELECT * FROM line')
from_db_cursor(cur)

+----+-----------------------------------------------+
| id |                      name                     |
+----+-----------------------------------------------+
| 1  |               Калининская линия               |
| 2  |         Бутовская линия Лёгкого метро         |
| 3  |                Кольцевая линия                |
| 4  |              Замоскворецкая линия             |
| 5  |               Некрасовская линия              |
| 6  |           Арбатско-Покровская линия           |
| 7  |          Люблинско-Дмитровская линия          |
| 8  |        Таганско-Краснопресненская линия       |
| 9  |             Калужско-Рижская линия            |
| 10 | Московская монорельсовая транспортная система |
| 11 |            Большая кольцевая линия            |
| 12 |               Солнцевская линия               |
| 13 |        Серпуховско-Тимирязевская линия        |
| 14 |                Филёвская линия                |
| 15 |         Московское центральное кольцо         |
| 16 |              Сокольническая линия             |
+----+-----------------------------------------------+

In [15]:
areas = []
for line in d:
    areas.append(line['AdmArea'])
areas = list(set(areas))
areas

['Южный административный округ',
 'Юго-Восточный административный округ',
 'Западный административный округ',
 'Центральный административный округ',
 'Юго-Западный административный округ',
 'Новомосковский административный округ',
 'Северный административный округ',
 'Восточный административный округ',
 'Северо-Восточный административный округ',
 'Северо-Западный административный округ']

In [16]:
areas_data = [(area,) for area in areas]
areas_data

[('Южный административный округ',),
 ('Юго-Восточный административный округ',),
 ('Западный административный округ',),
 ('Центральный административный округ',),
 ('Юго-Западный административный округ',),
 ('Новомосковский административный округ',),
 ('Северный административный округ',),
 ('Восточный административный округ',),
 ('Северо-Восточный административный округ',),
 ('Северо-Западный административный округ',)]

In [17]:
cur.executemany("INSERT INTO area(name) VALUES(?)", areas_data)

In [18]:
cur.execute('SELECT * FROM area')
from_db_cursor(cur)

+----+-----------------------------------------+
| id |                   name                  |
+----+-----------------------------------------+
| 1  |       Южный административный округ      |
| 2  |   Юго-Восточный административный округ  |
| 3  |     Западный административный округ     |
| 4  |    Центральный административный округ   |
| 5  |   Юго-Западный административный округ   |
| 6  |  Новомосковский административный округ  |
| 7  |     Северный административный округ     |
| 8  |     Восточный административный округ    |
| 9  | Северо-Восточный административный округ |
| 10 |  Северо-Западный административный округ |
+----+-----------------------------------------+

In [19]:
stations = []
for line in d:
    stations.append((line['Station'], int(''.join([f'{n+1}' for n, x in enumerate(lines) if line['Line'] == x])),\
                      int(''.join([f'{n+1}' for n, x in enumerate(areas) if line['AdmArea'] == x]))))
stations

[('Третьяковская', 1, 4),
 ('Медведково', 9, 9),
 ('Первомайская', 6, 8),
 ('Калужская', 9, 5),
 ('Каховская', 11, 5),
 ('Бульвар адмирала Ушакова', 2, 5),
 ('Павелецкая', 4, 4),
 ('Волжская', 7, 2),
 ('Шаболовская', 9, 1),
 ('Плющиха', 12, 4),
 ('Тимирязевская', 13, 7),
 ('ВДНХ', 9, 9),
 ('Тверская', 4, 4),
 ('Фонвизинская', 7, 9),
 ('Воронцовская', 11, 5),
 ('Дмитровская', 13, 9),
 ('Новые Черёмушки', 9, 5),
 ('Улица Милашенкова', 10, 9),
 ('Пушкинская', 8, 4),
 ('Маяковская', 4, 4),
 ('Нижегородская', 5, 2),
 ('Ботанический сад', 9, 9),
 ('Нижегородская', 11, 2),
 ('Белорусская', 4, 4),
 ('Красногвардейская', 4, 1),
 ('Комсомольская', 16, 4),
 ('Нагатинская', 13, 1),
 ('Алтуфьево', 13, 9),
 ('Новопеределкино', 12, 3),
 ('Автозаводская', 4, 1),
 ('Дорогомиловская', 12, 3),
 ('Текстильщики', 8, 2),
 ('Кожуховская', 7, 2),
 ('Марьино', 7, 2),
 ('Павелецкая', 3, 4),
 ('Преображенская площадь', 16, 8),
 ('Новослободская', 3, 4),
 ('Фили', 14, 3),
 ('Кунцевская', 11, 3),
 ('Домодедовская', 4, 1),
 ('Мнёвники', 11, 10),
 ('Охотный ряд', 16, 4),
 ('Новокосино', 1, 8),
 ('Курская', 3, 4),
 ('Лухмановская', 5, 8),
 ('Достоевская', 7, 4),
 ('Международная', 14, 4),
 ('Борисово', 7, 1),
 ('Выставочный центр', 10, 9),
 ('Беговая', 8, 4),
 ('Терехово', 11, 10),
 ('Третьяковская', 12, 4),
 ('Савёловская', 13, 9),
 ('Волоколамская', 6, 10),
 ('Парк Победы', 12, 3),
 ('Чертановская', 13, 1),
 ('Парк Победы', 6, 3),
 ('Филёвский парк', 14, 3),
 ('Фрунзенская', 16, 4),
 ('Кузнецкий мост', 8, 4),
 ('Лубянка', 16, 4),
 ('Улица Сергея Эйзенштейна', 10, 9),
 ('Водный стадион', 4, 7),
 ('Улица 1905 года', 8, 4),
 ('Ломоносовский проспект', 12, 3),
 ('Марксистская', 1, 4),
 ('Боровское шоссе', 12, 3),
 ('Партизанская', 6, 8),
 ('Улица академика Янгеля', 13, 1),
 ('Краснопресненская', 3, 4),
 ('Авиамоторная', 11, 2),
 ('Чкаловская', 7, 4),
 ('Тульская', 13, 1),
 ('Лермонтовский проспект', 8, 2),
 ('Спартак', 8, 10),
 ('Арбатская', 14, 4),
 ('Аннино', 13, 1),
 ('Севастопольская', 13, 5),
 ('Профсоюзная', 9, 5),
 ('Арбатская', 6, 4),
 ('Улица Горчакова', 2, 5),
 ('Мякинино', 6, 10),
 ('Октябрьская', 9, 4),
 ('Пионерская', 14, 3),
 ('Площадь Ильича', 1, 4),
 ('Рассказовка', 12, 6),
 ('Нагатинский Затон', 11, 1),
 ('Измайловская', 6, 8),
 ('Косино', 5, 2),
 ('Битцевский парк', 2, 5),
 ('Сокол', 4, 7),
 ('Рижская', 11, 4),
 ('Сокольники', 11, 8),
 ('Смоленская', 14, 4),
 ('Парк культуры', 16, 4),
 ('Мичуринский проспект', 12, 3),
 ('Котельники', 8, 2),
 ('Библиотека имени Ленина', 16, 4),
 ('Некрасовка', 5, 2),
 ('Волгоградский проспект', 8, 2),
 ('Трубная', 7, 4),
 ('Динамо', 4, 7),
 ('Алексеевская', 9, 9),
 ('Улица Академика Королёва', 10, 9),
 ('Планерная', 8, 10),
 ('Спортивная', 16, 4),
 ('Суворовская', 3, 4),
 ('Таганская', 8, 4),
 ('Киевская', 6, 3),
 ('Театральная', 4, 4),
 ('Сокольники', 16, 8),
 ('Деловой центр', 12, 4),
 ('Бульвар Дмитрия Донского', 13, 5),
 ('Шипиловская', 7, 1),
 ('Белорусская', 3, 4),
 ('Полянка', 13, 4),
 ('Крылатское', 6, 3),
 ('Сходненская', 8, 10),
 ('Площадь Революции', 6, 4),
 ('Юго-Западная', 16, 3),
 ('Шоссе Энтузиастов', 1, 8),
 ('Китай-город', 9, 4),
 ('Щукинская', 8, 10),
 ('Лесопарковая', 2, 5),
 ('Новогиреево', 1, 8),
 ('Курская', 6, 4),
 ('Минская', 12, 3),
 ('Студенческая', 14, 3),
 ('Пражская', 13, 1),
 ('Парк культуры', 3, 4),
 ('Аэропорт', 4, 7),
 ('Проспект Мира', 3, 4),
 ('Третьяковская', 9, 4),
 ('Марьина роща', 7, 9),
 ('Китай-город', 8, 4),
 ('Авиамоторная', 1, 2),
 ('Нахимовский проспект', 13, 5),
 ('Алма-Атинская', 4, 1),
 ('Цветной бульвар', 13, 4),
 ('Окружная', 7, 7),
 ('Добрынинская', 3, 4),
 ('Технопарк', 4, 1),
 ('Серпуховская', 13, 4),
 ('Каширская', 4, 1),
 ('Жулебино', 8, 2),
 ('Селигерская', 7, 7),
 ('Юго-Восточная', 5, 2),
 ('Солнцево', 12, 3),
 ('Пятницкое шоссе', 6, 10),
 ('Улица Скобелевская', 2, 5),
 ('Воробьёвы горы', 16, 3),
 ('Мичуринский проспект', 11, 3),
 ('Верхние Лихоборы', 7, 7),
 ('Строгино', 6, 10),
 ('Отрадное', 13, 9),
 ('Кузьминки', 8, 2),
 ('Кунцевская', 14, 3),
 ('Окская', 5, 2),
 ('Митино', 6, 10),
 ('Академическая', 9, 5),
 ('Пролетарская', 8, 4),
 ('Деловой центр', 11, 4),
 ('Тургеневская', 9, 4),
 ('Беляево', 9, 5),
 ('Царицыно', 4, 1),
 ('Волхонка', 12, 4),
 ('Киевская', 14, 3),
 ('Полежаевская', 8, 7),
 ('Текстильщики', 11, 2),
 ('Войковская', 4, 7),
 ('Саларьево', 16, 3),
 ('Братиславская', 7, 2),
 ('Южная', 13, 1),
 ('Киевская', 3, 3),
 ('Славянский бульвар', 6, 3),
 ('Свиблово', 9, 9),
 ('Университет', 16, 3),
 ('Улица Старокачаловская', 2, 5),
 ('Электрозаводская', 6, 8),
 ('Ясенево', 9, 5),
 ('Румянцево', 16, 6),
 ('Тропарёво', 16, 3),
 ('Таганская', 3, 4),
 ('Орехово', 4, 1),
 ('Перово', 1, 8),
 ('Телецентр', 10, 9),
 ('Дубровка', 7, 2),
 ('Каширская', 11, 1),
 ('Семёновская', 6, 8),
 ('Стахановская', 5, 2),
 ('Кунцевская', 6, 3),
 ('Петровско-Разумовская', 7, 7),
 ('Тёплый стан', 9, 5),
 ('Выхино', 8, 2),
 ('Кантемировская', 4, 1),
 ('Молодёжная', 6, 3),
 ('Владыкино', 13, 9),
 ('Крестьянская застава', 7, 4),
 ('Хорошёвская', 11, 7),
 ('Зябликово', 7, 1),
 ('Петровско-Разумовская', 13, 7),
 ('Красносельская', 16, 4),
 ('Чистые пруды', 16, 4),
 ('Дмитровское шоссе', 7, 7),
 ('Комсомольская', 3, 4),
 ('Сретенский бульвар', 7, 4),
 ('Проспект Вернадского', 11, 3),
 ('Боровицкая', 13, 4),
 ('Бибирево', 13, 9),
 ('Речной вокзал', 4, 7),
 ('Люблино', 7, 2),
 ('Бутырская', 7, 9),
 ('Октябрьское поле', 8, 10),
 ('Новокузнецкая', 4, 4),
 ('Кутузовская', 14, 3),
 ('Тушинская', 8, 10),
 ('Коломенская', 4, 1),
 ('Октябрьская', 3, 4),
 ('Проспект Вернадского', 16, 3),
 ('Нагорная', 13, 1),
 ('Выставочная', 14, 4),
 ('Бунинская аллея', 2, 5),
 ('Рижская', 9, 4),
 ('Новоясеневская', 9, 5),
 ('Бауманская', 6, 4),
 ('Бульвар Рокоссовского', 16, 8),
 ('Черкизовская', 16, 8),
 ('Коньково', 9, 5),
 ('Менделеевская', 13, 4),
 ('улица Дмитриевского', 5, 8),
 ('Электрозаводская', 11, 8),
 ('Раменки', 12, 3),
 ('Смоленская', 6, 4),
 ('Баррикадная', 8, 4),
 ('Багратионовская', 14, 3),
 ('Бабушкинская', 9, 9),
 ('Кропоткинская', 16, 4),
 ('Проспект Мира', 9, 4),
 ('Сухаревская', 9, 4),
 ('Тимирязевская', 10, 9),
 ('Красные ворота', 16, 4),
 ('Печатники', 7, 2),
 ('Рязанский проспект', 8, 2),
 ('Римская', 7, 4),
 ('Александровский сад', 14, 4),
 ('Ленинский проспект', 9, 1),
 ('Чеховская', 13, 4),
 ('Печатники', 11, 2),
 ('Щёлковская', 6, 8),
 ('Ховрино', 4, 7),
 ('Шелепиха', 15, 4),
 ('Площадь Гагарина', 15, 5),
 ('Лихоборы', 15, 7),
 ('Автозаводская', 15, 1),
 ('Шоссе Энтузиастов', 15, 8),
 ('Хорошёво', 15, 7),
 ('Соколиная Гора', 15, 8),
 ('Локомотив', 15, 8),
 ('Кутузовская', 15, 3),
 ('Балтийская', 15, 7),
 ('Владыкино', 15, 9),
 ('Угрешская', 15, 2),
 ('Ботанический сад', 15, 9),
 ('Андроновка', 15, 8),
 ('Дубровка', 15, 2),
 ('Измайлово', 15, 8),
 ('Лужники', 15, 4),
 ('Нижегородская', 15, 2),
 ('Новохохловская', 15, 2),
 ('ЗИЛ', 15, 1),
 ('Верхние Котлы', 15, 1),
 ('Белокаменная', 15, 8),
 ('Ростокино', 15, 9),
 ('Деловой центр', 15, 4),
 ('Бульвар Рокоссовского', 15, 8),
 ('Стрешнево', 15, 7),
 ('Крымская', 15, 1),
 ('Окружная', 15, 7),
 ('Петровский парк', 11, 7),
 ('ЦСКА', 11, 7),
 ('Шелепиха', 11, 4),
 ('Озёрная', 12, 3),
 ('Говорово', 12, 3),
 ('Беломорская', 4, 7),
 ('Зорге', 15, 10),
 ('Панфиловская', 15, 10),
 ('Коптево', 15, 7),
 ('Савёловская', 11, 7),
 ('Филатов луг', 16, 6),
 ('Прокшино', 16, 6),
 ('Ольховая', 16, 6),
 ('Коммунарка', 16, 6),
 ('Лефортово', 11, 2),
 ('Зюзино', 11, 5),
 ('Народное Ополчение', 11, 10),
 ('Давыдково', 11, 3),
 ('Аминьевская', 11, 3),
 ('Новаторская', 11, 5),
 ('Варшавская', 11, 1),
 ('Марьина Роща', 11, 9),
 ('Кленовый бульвар', 11, 1)]

In [20]:
cur.executemany("INSERT INTO station(name, id_line, id_area) VALUES(?,?,?)", stations)

In [21]:
cur.execute('SELECT * FROM station')
from_db_cursor(cur)[:10]

+----+--------------------------+---------+---------+
| id |           name           | id_line | id_area |
+----+--------------------------+---------+---------+
| 1  |      Третьяковская       |    1    |    4    |
| 2  |        Медведково        |    9    |    9    |
| 3  |       Первомайская       |    6    |    8    |
| 4  |        Калужская         |    9    |    5    |
| 5  |        Каховская         |    11   |    5    |
| 6  | Бульвар адмирала Ушакова |    2    |    5    |
| 7  |        Павелецкая        |    4    |    4    |
| 8  |         Волжская         |    7    |    2    |
| 9  |       Шаболовская        |    9    |    1    |
| 10 |         Плющиха          |    12   |    4    |
+----+--------------------------+---------+---------+

In [22]:
# станции Арбатско-Покровской линии
cur.execute("SELECT station.name FROM station JOIN line ON station.id_line == line.id WHERE line.name == 'Арбатско-Покровская линия'")
from_db_cursor(cur)

+--------------------+
|        name        |
+--------------------+
|    Первомайская    |
|   Волоколамская    |
|    Парк Победы     |
|    Партизанская    |
|     Арбатская      |
|      Мякинино      |
|    Измайловская    |
|      Киевская      |
|     Крылатское     |
| Площадь Революции  |
|      Курская       |
|  Пятницкое шоссе   |
|      Строгино      |
|       Митино       |
| Славянский бульвар |
|  Электрозаводская  |
|    Семёновская     |
|     Кунцевская     |
|     Молодёжная     |
|     Бауманская     |
|     Смоленская     |
|     Щёлковская     |
+--------------------+

In [23]:
# станции Центрального административного округа
cur.execute("SELECT station.name FROM station JOIN area ON station.id_area == area.id WHERE area.name == 'Центральный административный округ'")
from_db_cursor(cur)[:10]

+----------------+
|      name      |
+----------------+
| Третьяковская  |
|   Павелецкая   |
|    Плющиха     |
|    Тверская    |
|   Пушкинская   |
|   Маяковская   |
|  Белорусская   |
| Комсомольская  |
|   Павелецкая   |
| Новослободская |
+----------------+

In [24]:
# станции Центрального административного округа и Арбатско-Покровской линии
cur.execute("SELECT station.name FROM station JOIN area ON station.id_area == area.id JOIN line ON \
            station.id_line == line.id WHERE area.name == 'Центральный административный округ' AND line.name == 'Арбатско-Покровская линия'")
from_db_cursor(cur)

+-------------------+
|        name       |
+-------------------+
|     Арбатская     |
| Площадь Революции |
|      Курская      |
|     Бауманская    |
|     Смоленская    |
+-------------------+

In [25]:
# Количество станций на каждой ветке
cur.execute("SELECT line.name, COUNT(station.name) as 'count' FROM station JOIN line ON station.id_line == line.id GROUP BY line.name")
from_db_cursor(cur)

+-----------------------------------------------+-------+
|                      name                     | count |
+-----------------------------------------------+-------+
|           Арбатско-Покровская линия           |   22  |
|            Большая кольцевая линия            |   31  |
|         Бутовская линия Лёгкого метро         |   7   |
|              Замоскворецкая линия             |   24  |
|               Калининская линия               |   8   |
|             Калужско-Рижская линия            |   24  |
|                Кольцевая линия                |   13  |
|          Люблинско-Дмитровская линия          |   24  |
| Московская монорельсовая транспортная система |   6   |
|         Московское центральное кольцо         |   31  |
|               Некрасовская линия              |   8   |
|        Серпуховско-Тимирязевская линия        |   25  |
|              Сокольническая линия             |   26  |
|               Солнцевская линия               |   16  |
|        Таганско-Краснопресненская линия       |   23  |
|                Филёвская линия                |   13  |
+-----------------------------------------------+-------+

In [26]:
# Округ с максимальным количеством станций
cur.execute("SELECT area.name, COUNT(station.name) as 'count' FROM station JOIN area ON station.id_line == area.id \
            GROUP BY area.name ORDER BY count DESC LIMIT 1")
from_db_cursor(cur)

+------------------------------------+-------+
|                name                | count |
+------------------------------------+-------+
| Центральный административный округ |   24  |
+------------------------------------+-------+